@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Import fonts */
html, body { font-family: 'Roboto', sans-serif !important; overflow-x: hidden !important; }
h1, h2, h3, h4, h5, h6, .display-5, .display-4, .display-3, .display-2, .display-1 { font-family: 'Ubuntu', sans-serif !important; }

/* Set colour vars */
:root {
	--background-darker: #191b24;
	--background-1: #282a36;
	--background-2: #44475a;
	--background-lighter: #61647a;
	--black: #060608;
	--white: #f8f8f2;
	--comment: #6272a4;
	--cyan: #8be9fd;
	--green: #50fa7b;
	--orange: #ffb86c;
	--pink: #ff79c6;
	--purple: #bd93f9;
	--red: #ff5555;
	--yellow: #f1fa8c;

	--radius-1: 8px;
	--radius-2: 12px;
}

/* Not-allowed cursor */
.not-allowed {
	cursor: not-allowed !important;
	pointer-events: all !important;
}
/* Divs */
div {
	transition: all .1s ease-in-out;
}
/* Main content */
main#page-index {
	padding-top: 30vh !important;
}
/* Forms */
.form-group>.form-floating:nth-of-type(1)>.form-control {
	border-top-left-radius: var(--radius-1) !important;
	border-top-right-radius: var(--radius-1) !important;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-group>.form-floating:nth-of-type(2)>.form-control {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: var(--radius-1) !important;
	border-bottom-right-radius: var(--radius-1) !important;
}
input:active, input:focus {
	box-shadow: none !important;
	outline: none !important;
	border-color: var(--white) !important;
}
#loginForm {
	min-width: 350px !important;
}
#indexContent {
	max-width: 800px !important;
}
/* Background */
.bg-dark {
	background-color: var(--background-2) !important;
}
.bg-black {
	background-color: var(--background-1) !important;
}
/* Buttons */
button, button:hover, button:active, button:focus {
	border-radius: var(--radius-1) !important;
	transition: all .1s ease-in !important;
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}
.btn {
	background-color: var(--background-2) !important;
	color: var(--black) !important;
}
.btn-secondary:hover {
	background-color: var(--foreground) !important;
	box-shadow: 0 0 8px var(--foreground) !important;
}
.btn-primary {
	background-color: var(--background-2) !important;
	color: var(--white) !important;
}
.btn-primary:hover {
	background-color: var(--purple) !important;
	box-shadow: 0 0 8px var(--purple) !important;
	color: var(--black) !important;
}
.btn-dark {
	background-color: var(--background-1) !important;
	color: var(--white) !important;
}
.btn-dark:hover {
	background-color: var(--background-lighter) !important;
	box-shadow: 0 0 8px var(--background-lighter) !important;
	color: var(--white) !important;
}
.btn-light {
	background-color: var(--background-2) !important;
	color: var(--white) !important;
}
.btn-light:hover {
	background-color: var(--background-lighter) !important;
	box-shadow: 0 0 8px var(--background-lighter) !important;
	color: var(--white) !important;
}
.btn-dark-danger {
	background-color: var(--background-1) !important;
	color: var(--white) !important;
}
.btn-dark-danger:hover {
	background-color: var(--red) !important;
	box-shadow: 0 0 8px var(--red) !important;
	color: var(--white) !important;
}
.btn-light-danger {
	background-color: var(--background-2) !important;
	color: var(--white) !important;
}
.btn-light-danger:hover {
	background-color: var(--red) !important;
	box-shadow: 0 0 8px var(--red) !important;
	color: var(--white) !important;
}
.btn-action-dark {
	border-radius: 0px !important;
	background-color: var(--background-1) !important;
	color: var(--white) !important;
}
.btn-action-dark:hover {
	border-radius: 0px !important;
	background-color: var(--purple) !important;
	box-shadow: 0 0 8px var(--purple) !important;
	color: var(--white) !important;
}
.btn-action-dark-cyan {
	border-radius: 0px !important;
	background-color: var(--background-1) !important;
	color: var(--white) !important;
}
.btn-action-dark-cyan:hover {
	border-radius: 0px !important;
	background-color: var(--cyan) !important;
	box-shadow: 0 0 8px var(--cyan) !important;
	color: var(--black) !important;
}
.btn-action-dark-orange {
	border-radius: 0px !important;
	background-color: var(--background-1) !important;
	color: var(--white) !important;
}
.btn-action-dark-orange:hover {
	border-radius: 0px !important;
	background-color: var(--orange) !important;
	box-shadow: 0 0 8px var(--orange) !important;
	color: var(--black) !important;
}
.btn-action-dark-green {
	border-radius: 0px !important;
	background-color: var(--background-1) !important;
	color: var(--white) !important;
}
.btn-action-dark-green:hover {
	border-radius: 0px !important;
	background-color: var(--green) !important;
	box-shadow: 0 0 8px var(--green) !important;
	color: var(--black) !important;
}
.btn-action-dark-danger {
	border-radius: 0px !important;
	background-color: var(--background-1) !important;
	color: var(--white) !important;
}
.btn-action-dark-danger:hover {
	border-radius: 0px !important;
	background-color: var(--red) !important;
	box-shadow: 0 0 8px var(--red) !important;
	color: var(--white) !important;
}
.btn-group-first, .btn-group-first:hover {
	border-top-left-radius: var(--radius-1) !important;
	border-bottom-left-radius: var(--radius-1) !important;
}
.btn-group-last, .btn-group-last:hover  {
	border-top-right-radius: var(--radius-1) !important;
	border-bottom-right-radius: var(--radius-1) !important;
}
/* File card container */
.file-card {
	border-radius: 8px !important;
	background-color: var(--background-darker) !important;
	min-width: 400px !important;
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.file-card-file>img {
	max-height: 80vh;
	max-width: 80vw;
}
.file-card-file>audio {
	width: 100%;
	border-radius: 0;
	padding: .5rem;
}
.file-card-file>#embed-pdf {
	min-width: 80vw;
	min-height: 80vh;
	max-width: 80vw;
	max-height: 80vh;
}
.file-card-file>pre {
	padding: 1rem 1.5rem 1rem 1.5rem;
	max-width: 80vw;
	max-height: 80vh;
	text-align: left;
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
/* Popup */
div.contextMenu {
	padding: 0;
	margin: 0;
}
.dropdown-menu-dark {
	position: static;
	display: block;
	min-width: 200px;
	display: grid;
	gap: 0.25rem;
	padding: 0.5rem;
	border-radius: var(--radius-1);
	background-color: var(--background-darker) !important;
}
.dropdown-menu>li, .dropdown-menu>a {
	cursor: pointer;
}
.dropdown-menu>li>a {
	border-radius: var(--radius-1);
}
.dropdown-menu>li:active>a {
	background-color: var(--purple) !important;
}
.dropdown-menu>li>a {
	padding-left: 0;
}
.dropdown-menu>li>a>span {
	padding-left: 18px;
}
#contextMenu {
	transition: opacity .2s ease-in-out;
}
/* Uploads table */
#uploads-table-container {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}
#uploads-table>.row-item {
	border-top-left-radius: var(--radius-1) !important;
	border-top-right-radius: var(--radius-1) !important;
}
#uploads-table>.row-item ~ .row-item {
	border-radius: 0 !important;
}
.row-header>div {
	text-align: left;
}
.row-item>div {
	text-align: left;
	margin-top: auto;
	margin-bottom: auto;
}
.row-item {
	align-content: center !important;
	min-height: 60px;
}
.row-item:hover {
	background-color: var(--background-lighter) !important;
}
