@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Import fonts */
html, body { font-family: 'Roboto', sans-serif !important; overflow-x: hidden !important; }
h1, h2, h3, h4, h5, h6, .display-5, .display-4, .display-3, .display-2, .display-1, .h1, .h2, .h3, .h4, .h5 { font-family: 'Ubuntu', sans-serif !important; font-weight: bold !important; }

/* Set colour vars */
:root {
	--background-darker: #191b24;
	--background-1: #282a36;
	--background-2: #44475a;
	--background-lighter: #61647a;
	--black: #060608;
	--white: #f8f8f2;
	--comment: #6272a4;
	--cyan: #8be9fd;
	--green: #50fa7b;
	--orange: #ffb86c;
	--pink: #ff79c6;
	--purple: #bd93f9;
	--red: #ff5555;
	--yellow: #f1fa8c;

	--radius-1: 8px;
	--radius-2: 12px;
}

/* Not-allowed cursor */
.not-allowed {
	cursor: not-allowed !important;
	pointer-events: all !important;
}
/* Header */
.fixed-top {
	z-index: 990 !important;
}
/* Divs */
div {
	transition: background-color .1s ease-in-out, color .1s ease-in-out, box-shadow .1s ease-in-out;
}
div.contextMenu_obj, div.contextMenu_obj>ul, div.contextMenu_link, div.contextMenu_link>ul {
	transition: all .1s ease-in-out !important;
	z-index: 1000 !important;
}
.tooltip {
	z-index: 999 !important;
}
.container-rounded {
	border-radius: var(--radius-1) !important;
}
.fit-col {
	min-width: fit-content !important;
	max-width: fit-content !important;
}
/* Main content */
main#page-index {
	padding-top: 10vh !important;
}
main#page-file {
	margin-top: 70px !important;
}
.nosel {
	-webkit-user-select: none;
	-webkit-touch-callout: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  }
/* Forms */
.form-group>.form-floating:nth-of-type(1)>.form-control {
	border-top-left-radius: var(--radius-1) !important;
	border-top-right-radius: var(--radius-1) !important;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.form-group>.form-floating:nth-of-type(2)>.form-control {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: var(--radius-1) !important;
	border-bottom-right-radius: var(--radius-1) !important;
}
input:active, input:focus {
	box-shadow: none !important;
	outline: none !important;
	border-color: var(--white) !important;
}
#loginForm {
	min-width: 350px !important;
}
#indexContent {
	max-width: 800px !important;
}
/* Background */
.bg-dark {
	background-color: var(--background-2) !important;
}
.bg-black {
	background-color: var(--background-1) !important;
}
.bg-dark-blur {
	background-color: rgba(40, 42, 54, 0.75);
	backdrop-filter: blur(5px);
}
/* Buttons */
button:not(.btn-group-child), button:not(.btn-group-child):active, button:not(.btn-group-child):focus {
	border-radius: var(--radius-1) !important;
	transition: all .1s ease-in !important;
	border: none !important;
	outline: none !important;
	box-shadow: none !important;
}

.btn {
	background-color: var(--background-2) !important;
	color: var(--black) !important;
}
.btn-secondary:hover {
	background-color: var(--foreground) !important;
	box-shadow: 0 0 8px var(--foreground) !important;
}
.btn-light-purple {
	background-color: var(--background-2) !important;
	color: var(--white) !important;
}
.btn-light-purple:hover {
	background-color: var(--purple) !important;
	box-shadow: 0 0 8px var(--purple) !important;
	color: var(--black) !important;
}
.btn-light-cyan {
	background-color: var(--background-2) !important;
	color: var(--white) !important;
}
.btn-light-cyan:hover {
	background-color: var(--cyan) !important;
	box-shadow: 0 0 8px var(--cyan) !important;
	color: var(--black) !important;
}
.btn-dark, .btn-dark-danger {
	background-color: var(--background-1) !important;
	color: var(--white) !important;
}
.btn-dark:hover {
	background-color: var(--background-lighter) !important;
	box-shadow: 0 0 8px var(--background-lighter) !important;
	color: var(--white) !important;
}
.btn-light, .btn-light-danger {
	background-color: var(--background-2) !important;
	color: var(--white) !important;
}
.btn-light:hover {
	background-color: var(--background-lighter) !important;
	box-shadow: 0 0 8px var(--background-lighter) !important;
	color: var(--white) !important;
}
.btn-dark-danger:hover {
	background-color: var(--red) !important;
	box-shadow: 0 0 8px var(--red) !important;
	color: var(--white) !important;
}
.btn-light-danger:hover {
	background-color: var(--red) !important;
	box-shadow: 0 0 8px var(--red) !important;
	color: var(--white) !important;
}
.btn-action-dark, .btn-action-dark-danger, .btn-action-dark-cyan, .btn-action-dark-orange, .btn-action-dark-green {
	background-color: var(--background-1) !important;
	color: var(--white) !important;
}
.btn-action-dark:hover {
	background-color: var(--purple) !important;
	box-shadow: 0 0 8px var(--purple) !important;
	color: var(--white) !important;
}
.btn-action-dark-cyan:hover {
	background-color: var(--cyan) !important;
	box-shadow: 0 0 8px var(--cyan) !important;
	color: var(--black) !important;
}
.btn-action-dark-orange:hover {
	background-color: var(--orange) !important;
	box-shadow: 0 0 8px var(--orange) !important;
	color: var(--black) !important;
}
.btn-action-dark-green:hover {
	background-color: var(--green) !important;
	box-shadow: 0 0 8px var(--green) !important;
	color: var(--black) !important;
}
.btn-action-dark-danger:hover {
	background-color: var(--red) !important;
	box-shadow: 0 0 8px var(--red) !important;
	color: var(--white) !important;
}

.btn-action-light {
	background-color: var(--background-2) !important;
	color: var(--white) !important;
}
.btn-action-light:hover {
	background-color: var(--background-lighter) !important;
	box-shadow: 0 0 8px var(--background-lighter) !important;
	color: var(--white) !important;
}
/* Table sort headers */
.sortName, .sortDate, .sortSize {
	cursor: pointer !important;
}
.sortName:hover, .sortDate:hover, .sortSize:hover {
	color: var(--purple) !important;
	cursor: pointer !important;
}
/* Button dropdown/dropup toggles */
.btn.btn-secondary.dropdown-toggle {
	background-color: var(--background-2) !important;
	color: var(--white) !important;
	border: none !important;
	border-radius: var(--radius-2) !important;
	height: 38px !important;
}
.btn.btn-secondary.dropdown-toggle:hover, .btn.btn-secondary.dropdown-toggle:active {
	background-color: var(--background-lighter) !important;
	box-shadow: 0 0 8px var(--background-lighter) !important;
	color: var(--white) !important;
}
.btn.btn-dark.dropdown-toggle {
	background-color: var(--background-1) !important;
	color: var(--white) !important;
	border: none !important;
	border-radius: var(--radius-2) !important;
	height: 38px !important;
}
.btn.btn-dark.dropdown-toggle:hover, .btn.btn-dark.dropdown-toggle:active {
	background-color: var(--background-lighter) !important;
	box-shadow: 0 0 8px var(--background-lighter) !important;
	color: var(--white) !important;
}
.sortByDropdown {
	width: fit-content !important;
}
.orderByDropdown {
	width: fit-content !important;
}
.paginationButtons {
	width: fit-content !important;
	padding-right: 0 !important;
}
.dropup>.dropdown-menu, .dropdown>.dropdown-menu {
	background-color: var(--background-darker) !important;
	border-radius: var(--radius-2) !important;
}
.dropup>.dropdown-menu>li:focus, .dropup>.dropdown-menu>li:focus>a, .dropdown>.dropdown-menu>li>a:focus, .dropdown>.dropdown-menu>li:focus, .dropdown>.dropdown-menu>li:focus>a, .dropdown>.dropdown-menu>li>a:focus {
	background-color: var(--background-darker) !important;
}
.dropup>.dropdown-menu>li>a, .dropdown>.dropdown-menu>li>a {
	color: var(--white) !important;
}
.dropup>.dropdown-menu>li:hover, .dropup>.dropdown-menu>li:hover>a, .dropdown>.dropdown-menu>li:hover, .dropdown>.dropdown-menu>li:hover>a {
	background-color: var(--background-1) !important;
}
.dropup>.dropdown-menu>li:active, .dropup>.dropdown-menu>li:active>a, .dropup>.dropdown-menu>li.active, .dropup>.dropdown-menu>li.active>a, .dropdown>.dropdown-menu>li:active, .dropdown>.dropdown-menu>li:active>a, .dropdown>.dropdown-menu>li.active, .dropdown>.dropdown-menu>li.active>a {
	background-color: var(--purple) !important;
	color: var(--black) !important;
}

/* Button action groups */
.btn-group>.btn-group:not(:last-child)>.btn, .btn-group>.btn-group:not(:last-child)>.btn:hover {
	border-top-right-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
}
.btn-group>.btn-group:not(:first-child)>.btn, .btn-group>.btn-group:not(:first-child)>.btn:hover {
	border-top-left-radius: 0 !important;
	border-bottom-left-radius: 0 !important;
}
.btn-group>.btn:first-child, .btn-group>.btn:first-child:hover {
	border-top-left-radius: var(--radius-2) !important;
	border-bottom-left-radius: var(--radius-2) !important;
}
.btn-group>.btn:last-child, .btn-group>.btn:last-child:hover {
	border-top-right-radius: var(--radius-2) !important;
	border-bottom-right-radius: var(--radius-2) !important;
}

/* File card container */
.file-card {
	border-radius: 8px !important;
	background-color: var(--background-darker) !important;
	min-width: 400px !important;
	max-width: fit-content;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
.file-card-file>img {
	max-height: calc(80vh - 70px);
	max-width: 80vw;
}
.file-card-file>audio {
	width: 100%;
	border-radius: 0;
	padding: .5rem;
}
.file-card-file>#embed-pdf {
	min-width: 80vw;
	min-height: 80vh;
	max-width: 80vw;
	max-height: 80vh;
}
.file-card-file>pre {
	padding: 1rem 1.5rem 1rem 1.5rem;
	max-width: 80vw;
	max-height: 80vh;
	text-align: left;
	white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
/* Popup */
div.contextMenu {
	padding: 0;
	margin: 0;
}
.dropdown-menu-dark {
	position: static;
	display: block;
	min-width: 200px;
	display: grid;
	gap: 0.25rem;
	padding: 0.5rem;
	border-radius: var(--radius-1);
	background-color: var(--background-darker) !important;
}
.dropdown-menu>li, .dropdown-menu>a {
	cursor: pointer;
}
.dropdown-menu>li>a {
	border-radius: var(--radius-1);
}
.dropdown-menu>li:active {
	color: var(--black) !important;
}
.dropdown-menu>li:active>a {
	color: var(--black) !important;
	background-color: var(--cyan) !important;
}
.dropdown-menu>li>a {
	padding-left: 0;
}
.dropdown-menu>li>a>span {
	padding-left: 18px;
}
#contextMenu {
	transition: opacity .2s ease-in-out;
}
/* Uploads table */
#uploads-table-container {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}
#uploads-table>.row-container>.row-item:first-of-type {
	border-top-left-radius: var(--radius-1) !important;
	border-top-right-radius: var(--radius-1) !important;
	padding-top: 1rem;
}
#uploads-table>.row-container>.row-item{
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: .5rem;
	padding-bottom: .5rem;
}
#uploads-table>.row-container>.row-item:last-of-type {
	border-bottom-left-radius: var(--radius-1) !important;
	border-bottom-right-radius: var(--radius-1) !important;
	padding-bottom: 1rem;
}
.row-header>div {
	text-align: left;
}
.row-item>div {
	text-align: left;
	margin-top: auto;
	margin-bottom: auto;
}
.row-item {
	align-content: center !important;
	min-height: 60px;
}
.row-item:hover {
	background-color: var(--background-lighter) !important;
}
.row-footer>div {
	text-align: left;
}
.col-num {
	width: 50px !important;
	cursor: default !important;
}
.col-head-name {
	cursor: default !important;
}
.col-name {
	cursor: default !important;
	text-shadow: #191b24 0 0 10px;
	padding-left: .5rem;
	align-self: center;
	font-weight: bold;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 10px;
}
.col-preview {
	height: 100px;
	cursor: default !important;
	overflow: hidden;
	justify-content: center;
	margin: 0 !important;
	padding: 0 !important;
	border-radius: var(--radius-2);
	text-overflow: ellipsis;
	white-space: nowrap;
	background-repeat: no-repeat;
	background-size:cover;
}
.col-size {
	min-width: 100px !important;
	width: 100px !important;
	cursor: default !important;
}
.col-date {
	width: 115px !important;
	cursor: default !important;
}
.col-actions {
	max-width: 450px !important;
}
/* Settings styles */
/* Switches */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 28px;
}
/* Hide default HTML checkbox */
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
/* Slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--background-darker);
	-webkit-transition: .2s;
	transition: .2s;
}
.slider:before {
	position: absolute;
	content: "";
	height: 20px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	background-color: var(--white);
	-webkit-transition: .2s;
	transition: .2s;
}
input:checked + .slider {
	background-color: var(--purple);
}
input:focus + .slider {
	box-shadow: 0 0 1px var(--purple);
}
input:checked + .slider:before {
	-webkit-transform: translateX(32px);
	-ms-transform: translateX(32px);
	transform: translateX(32px);
}
/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}
.slider.round:before {
	border-radius: 50%;
}
